@use '@angular/material' as mat;
@use '../../../m3-theme.scss';

@include mat.core();

button:hover{
  background-color: rgba(mat.get-theme-color(m3-theme.$light-theme, primary, 50), 1);
  color: white;
}
