<mat-toolbar >
    <button mat-button  (click)="sidenav.toggle()"  style="color: white;">
      <mat-icon style="margin-right: 0;">menu</mat-icon>
    </button>

    <span style="color: white; padding-left: 15px;">BESTPARFÜM</span>
    <span class="example-spacer"></span>
    <button  routerLink="product" routerLinkActive="active" mat-button> <span class="product"></span></button>
    <button   routerLink="profile" routerLinkActive="active" mat-button> <span class="profile"></span></button>
    <span class="example-spacer"></span>

    <button  mat-button routerLink="cart">
      <span class="quantity" >
          <ng-continer *ngIf="cartQuantityNumber >0">{{ cartQuantityNumber}}</ng-continer>
      </span>
      <span class="cart">
      </span>
    </button>
  </mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side"  [style.width]="'250px'">
    <app-sidenav-component></app-sidenav-component>
  </mat-sidenav>
  <mat-sidenav-content >

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


