@use '@angular/material' as mat;
@use '../../../m3-theme.scss';

@include mat.core();

.payButton{
  background-color: rgba(mat.get-theme-color(m3-theme.$light-theme, primary, 50), 1);
  color: white;
  text-align: center;

}

.payButtonDiv{
  display: flex;
  justify-content: space-evenly;
}


.payButton:hover{
  background-color: rgb(211, 104, 233);
}

mat-dialog-actions{
  justify-content: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

