
  <mat-dialog-content *ngIf="isTrue$ ; else isNotTrue"  style="text-align: center;">
    <h1 >Sikeres vásárlás</h1>
    <button mat-flat-button class="payButton"  routerLink="product" (click)="close()">Vissza a főoldalra</button>
  </mat-dialog-content>

  <ng-template #isNotTrue style="text-align: center;">
      <form [formGroup]="formGroup"  #f="ngForm" [ngClass]="formGroup.invalid ? 'invalid' : 'valid'">
        <h2>Adatok beírása:</h2>
            <label for="firstName">Vezetéknév</label>
            <input
            type="text"
            name="firstName"
            id="firstName"
            formControlName ="firstName"
            matInput
            >
            <label for="secondName">Keresztnév</label>
            <input
            type="text"
            name="secondName"
            id="secondName"
            formControlName="secondName"
            matInput
            >

          <div>
            <label for="address">Cím</label>
            <textarea
            type="text"
            name="address"
            id="address"
            formControlName="address"
            style="display: block;"
            matInput

            ></textarea>
          </div>

            <label for="city">Város</label>
            <input
            type="text"
            name="city"
            id="city"
            formControlName="city"
            matInput
            placeholder="Budapest"
            >
            <label for="postCode">Irányítószám</label>
            <input
            name="postCode"
            id="postCode"
            formControlName="postCode"
            matInput
            #postalCode
            placeholder="1234"
            maxlength="4"
            >

          <hr>

          <div class="chooseThePayment">
            <div>

              <label for="card">Kártyával</label>
              <input class="radioButtons" (click)="isCardTrue()" name="paymentOptions" type="radio">
            </div>

            <div>

              <label for="paymentOnDelivery">Utánvétel</label>
              <input class="radioButtons"  (click)="isCardNotTrue()" name="paymentOptions" type="radio">
            </div>
          </div>

         @if(cardTrue){

          <br>

            <label for="cardUserName">KÁRTYÁN SZEREPLŐ NÉV</label>
            <input
            id="cardUserName"
            name="cardUserName"
            formControlName="cardUserName"
            type="text"
            >

            <label for="cardNumber">KÁRTYASZÁM</label>
            <input
            id="cardNumber"
            name="cardNumber"
            formControlName="cardNumber"
            maxlength="19"
            >
            <div id="threeCardDatasDiv">
              <label>DATE</label>
              <input
              class="threeCardDatas"
              id="cardDataDate"
              formControlName="cardDataDate"
              maxlength="4"

              >

              <label>MM/YY</label>
              <input
              class="threeCardDatas"
              id="cardDataMonthYear"
              formControlName="cardDateMonthYear"
              maxlength="5"

              >

              <label>CVC</label>
              <input
              class="threeCardDatas"
              maxlength="3"
              id="cardDataCvc"
              formControlName="cardDateCvc"
              maxlength="3"

              >
            </div>
          }

          <div id="paymentButtons">
            <div id="backButton">
              <button mat-flat-button  class="paymentActionButtons" (click)="close()">Bezár</button>
            </div>
          <div id="payButton">
            <button  mat-flat-button class="paymentActionButtons"  (click)="payment()"  >Fizetés</button>
          </div>
          </div>

      </form>
  </ng-template>


