<section class="container">
  <mat-card *ngFor="let cartItem of cartList$ | async" >
    <div class="titleAndCloseButton">
      <span> {{cartItem.title}}</span>
      <button mat-button class="closeButton" (click)="deleteFromCart(cartItem)"></button>
    </div>
    <div class="mat-card-content">
      <img mat-card-image [src]='cartItem.imgPath'>
      <p>{{cartItem.content}}</p>
    </div>

    <mat-card-footer>
       <div class="quantityPlussing">
          <button class="plus" (click)="addToQuantity(cartItem)"></button>
          <button class="minus" (click)="minusTheQuantity(cartItem)"></button>
       </div>
      <mat-card-content>{{cartItem.quantity}}db | {{cartItem.price}}</mat-card-content>
    </mat-card-footer>
  </mat-card>

</section>
