<section class="container">
    <div style="text-align: center; font-weight: bold;">Legjobb ajánlatunk!</div>
    <br>
    <div class="cards" >
      <ng-container *ngFor=" let product of products" >
        <mat-card *ngIf="getGender == product.gender || getGender == null  "  >
            <mat-card-header>
              <mat-card-title >
                {{product.title}}
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]='product.imgPath'>
            <mat-card-content>{{product.price}}</mat-card-content>
            <mat-card-footer>
              <button mat-button (click)="openDialog(product.id)">Details</button>
              <button mat-button (click)="addToCart(product)">Add to cart</button>
            </mat-card-footer>
        </mat-card>
      </ng-container>

    </div>
    <hr>
    <div style="text-align: center; font-weight: bold;">Nagyon good áraink vannak</div>
    <br>
    <app-cheap-products></app-cheap-products>
</section>



